.box1{
    box-sizing: content-box;
    margin: 50px;
    border: 10px solid lightcoral;
    width: 800px;
    height: 300px;
    padding: 100px yellow;
    background-color: palevioletred;
   
}
.box2{
    box-sizing: border-box;
    margin: 50px;
    border: 10px solid lightcoral;
    width: 800px;
    height: 300px;
    padding: 100px yellow;
    background-color: palevioletred;
  
}
